MAX_BOT = 999
DEVS = 1447144763
API_ID = 
API_HASH = 
BOT_TOKEN = 
OWNER_ID = 
BLACKLIST_CHAT = -1002886184276 
RMBG_API = Y8mKMpDEsaZsvRikj4xk8xRR
MONGO_URL = 
LOGS_MAKER_UBOT = -1003067407536
API_KEY = 
OWNER_USERNAME = RanzOffc
MAIN_CHANNEL = AboutRanzOffc
NOTIFY_CHANNEL = AllTestiRanzOffc
PAKASIR_BASE_URL = https://app.pakasir.com/api
PAKASIR_PROJECT = 
PAKASIR_API_KEY = 
PAYMENT_TIMEOUT = 600
PAYMENT_CHECK_INTERVAL = 15
NOTIFY_THUMBNAIL = https://files.catbox.moe/pgaypk.jpg
PRICE_MEMBER_BULAN = 5000
PRICE_MEMBER_PERMA = 10000
PRICE_SELES_BULAN = 10000
PRICE_SELES_PERMA = 20000
PRICE_ADMIN_BULAN = 20000
PRICE_ADMIN_PERMA = 35000
